@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.36);
    opacity: 0;
  }
}

.about {
  background-color: #0a2850;
  overflow: hidden;
  position: relative;
  padding: 100px 80px 173px 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  margin: 0;
}

.about__title {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
  max-width: 251px;
  z-index: 1;
  margin: 0;
  text-align: left;
}

.about__content {
  max-width: 660px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 19px;
}

.about__paragraph {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  margin: 0 0;
}

.about__circle {
  width: 426px;
  height: 426px;
  background-color: #2f80ed;
  position: absolute;
  top: -152px;
  left: -129px;
  border-radius: 50%;
}

.about__circle_animation_blurred {
  animation: pulsate ease-in-out 1.3s infinite 0s;
}
