.card {
  width: 540px;
  margin: 0;
}

.card__title {
  margin: 0 0 32px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.card__list-item {
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
}

.card__list-item:last-child {
  margin-bottom: 0;
}

.card__list-divider {
  flex-grow: 1;
  border-bottom: solid #000 1px;
}
