.menu {
  padding: 100px 0;
  background-color: #fff;
  background-image: url(../images/background_menu.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menu__title {
  max-width: 780px;
  margin: 0 auto 24px;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  text-align: center;
}

.menu__subtitle {
  max-width: 780px;
  margin: 0 auto 100px;
  font-family: "Noto Serif", Georgia, "Times New Roman", Times, serif;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.menu__cards {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
  padding: 0;
  list-style-type: none;
}
