.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: Inter, Arial, sans-serif;
  color: #000;
  font-size: 16px;
  line-height: 20px;
  background-color: #fff;
  background-image: url("/images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.header {
  display: flex;
  flex-direction: column;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 40px;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  position: relative;
  left: -50px;
  width: 105px;
  height: 39px;
}

.nav__links {
  font-family: "Inter";
  font-weight: 500;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  column-gap: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000;
}

.nav__link:hover {
  color: #000;
}

.nav__link:visited {
  color: #000;
}

.header__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 60px;
  line-height: 72px;
  letter-spacing: -0.6px;
  max-width: 729px;
  margin: 183px 0 0;
}

.header__span-accent {
  display: block;
  font-family: "Noto Serif";
  font-style: italic;
  font-size: 60px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  max-width: 683px;
  margin: 28px 0 0;
}

.header__image {
  position: absolute;
  top: 124px;
  right: 5px;
  width: 646px;
  height: 568px;
}

.header__footer {
  margin-top: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.header__footer-block {
}

.header__paragraph {
  font-family: "Inter";
  font-weight: 500;
  color: #838383;
  margin: 0;
  position: relative;
}

.content {
}

.recipes {
  background-color: #0a2750;
  background-image: url(/images/background_recipes.svg);
  padding: 100px 80px 215px;
}

.recipes__title {
  margin: 0 0 24px;
  max-width: 580px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #fff;
}

.recipes__subtitle {
  margin: 0 0 80px;
  max-width: 438px;
  font-family: "Noto Serif";
  font-size: 20px;
  line-height: 30px;
  color: #fff;
}

.recipes__videos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  list-style-type: none;
  border: 0px;
  margin: auto 0;
}

.recipes__iframe {
  border: 0px;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  margin: 24px 0 0;
  font-family: "Inter";
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px;
}

.reservation__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation__form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0;
  margin: 0;
  padding: 0;
}

.reservation__form__label {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 8px;
  align-self: start;
}

.reservation__form__label:nth-last-child(1) {
  align-self: center;
}

.reservation__form__input {
  font-family: "Inter";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 385px;
  height: 60px;
  border-radius: 4px;
  color: #838383;
  margin: 0 0 32px;
  border: 1px solid #838383;
  padding: 0 20px;
}

.reservation__form__button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 385px;
  height: 60px;
  margin: 0 0 32px;
  border: 1px solid #838383;
  background-color: #2f80ed;
  color: #fff;
}

.reservation__form__button:hover {
  opacity: 70%;
  transition: ease-out 1s;
}

.reservation__form__checkbox {
  height: 20px;
  width: 20px;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  margin: 0 12px 0 0;
}

.menu {
}

.about {
}

.footer {
}
