.reservation {
  background-color: #d9e7ff;
  background-image: url(../images/background_reservation.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 100px 0 120px;
}

.reservation__title {
  font-family: "Inter";
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0 0 80px;
  text-align: center;
}

.reservation__form {
  margin: 0 auto;
}

.form {
  max-width: 385px;
}

.form__fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.form__label {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 32px;
  display: block;
}

.form__label_type_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
}

.form__input {
  font-family: "Inter";
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  width: 100%;
  height: 60px;
  border-radius: 4px;
  color: #838383;
  margin-top: 8px;
  border: 1px solid #838383;
  display: block;
  box-sizing: border-box;
  padding: 0 20px;
}

.form__button {
  font-family: "Inter";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  width: 100%;
  height: 60px;
  margin-bottom: 32px;
  border: 1px solid #838383;
  background-color: #2f80ed;
  box-sizing: border-box;
  color: #fff;
  padding: 0;
}

.form__button:hover {
  opacity: 70%;
  transition: ease-out 1s;
}

.form__checkbox {
  height: 20px;
  width: 20px;
  border: 1px solid #838383;
  border-radius: 2px;
  background-color: #2f80ed;
  background-image: url(../images/check.svg);
  margin: 0 12px 0 0;
}
